player-connection-mode=Listen
player-connection-guid=3549577410
player-connection-debug=1
player-connection-project-name=VR Escape Room
player-connection-ip=172.17.1.5
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
xrsdk-pre-init-library=OculusXRPlugin
